@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Bold.eot');
    src: url('Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('Montserrat-Bold.woff2') format('woff2'),
        url('Montserrat-Bold.woff') format('woff'),
        url('Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

h1 {
    color: #00ff00;
}

.container {
    margin: 0 auto;
    width: 1920px;
}

ul,
li {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h5,
h4,
p {
    margin: 0;
}

.link {
    text-decoration: none;
    color: #ffffff;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #ffffff;
}

.header__title-list {
    background-color: #222222;
    display: flex;
    height: 100px;
    justify-content: space-between;
}

.header__title-logo {
    margin: 25px 360px 25.31px 223px;
    
}

.header__title-links {
    margin: 25px 0 25.31px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__title-links-list {
    margin-right: 44px;
    text-decoration: none;
}

.header__title-busket {
    margin: 25px 40px 25.31px;
}

.common__button {
    width: 173px;
    height: 52px;
    display: flex;
    justify-content: center;
    margin: 24px 0 24px;
    color: #ffffff;
}

.header__link--home {
    color: #FF7A00;
    font-weight: bold;
    font-size: 16px;
}

.header__link--other {
    list-style: none;
    font-weight: normal;
    font-size: 16px;
}

.header__point {
    color: #FF7A00;
}

.header__title-links-list-marker {
    color: #ffffff;
}

.header__button-submit {
    display: flex;
}

.header__title-button-book, .hero__container-button-book  {
    margin-right: 360px;
    background-color: #FF7A00;
    border-radius: 4px;
}

.header__title-button-contact_us {
    background-color: #222222;
    margin-right: 8px;
}

.common__button:hover {
    color: #00ff00;
    transform: translateX(3px);
}

.hero__container-wrapper-image {
    background-image: url(./image/bcg.png);
    width: 1920px;
    height: 1080px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.hero__container-image-barber {
    margin: 209px 360px 578.21px;
    position: absolute;
}

.hero__container-text {
    font-family: 'Montserrat', 'sans serif';
    font-weight: bold;
    font-size: 32px;
    width: fit-content;
    margin: 475px 360px 44px;
}

.hero__container-button-book {
    margin: 50px 392px 327px;
    position: absolute;
}


